In [34]:
import numpy as np
import pandas as pd
import scipy as sp
import scipy.stats as st

In [35]:
path = "data.tsv"
data = pd.read_csv(path, "\t")

In [36]:
display(data)

,School,School_Type,SAT,Acceptance,$/Student,Top 10%,%PhD,Grad%
0,Amherst,Lib Arts,1315,22,26636,85,81,93
1,Swarthmore,Lib Arts,1310,24,27487,78,93,88
2,Williams,Lib Arts,1336,28,23772,86,90,93
3,Bowdoin,Lib Arts,1300,24,25703,78,95,90
4,Wellesley,Lib Arts,1250,49,27879,76,91,86
5,Pomona,Lib Arts,1320,33,26668,79,98,80
6,Wesleyan (CT),Lib Arts,1290,35,19948,73,87,91
7,Middlebury,Lib Arts,1255,25,24718,65,89,92
8,Smith,Lib Arts,1195,57,25271,65,90,87
9,Davidson,Lib Arts,1230,36,17721,77,94,89
10,Vassar,Lib Arts,1287,43,20179,53,90,84
11,Carleton,Lib Arts,1300,40,19504,75,82,80
12,Claremont McKenna,Lib Arts,1260,36,20377,68,94,74
13,Oberlin,Lib Arts,1247,54,23591,64,98,77
14,Washington & Lee,Lib Arts,1234,29,17998,61,89,78
15,Grinnell,Lib Arts,1244,67,22301,65,79,73
16,Mount Holyoke,Lib Arts,1200,61,23358,47,83,83
17,Colby,Lib Arts,1200,46,18872,52,75,84
18,Hamilton,Lib Arts,1215,38,20722,51,86,85
19,Bates,Lib Arts,1240,36,17554,58,81,88
20,Haverford,Lib Arts,1285,35,19418,71,91,87
21,Colgate,Lib Arts,1258,38,17520,61,78,85
22,Bryn Mawr,Lib Arts,1255,56,18847,70,81,84
23,Occidental,Lib Arts,1170,49,20192,54,93,72
24,Barnard,Lib Arts,1220,53,17653,69,98,80
25,Harvard,Univ,1370,18,46918,90,99,90
26,Stanford,Univ,1370,18,61921,92,96,88
27,Yale,Univ,1350,19,52468,90,97,93
28,Princeton,Univ,1340,17,48123,89,99,93
29,Cal Tech,Univ,1400,31,102262,98,98,75
30,MIT,Univ,1357,30,56766,95,98,86
31,Duke,Univ,1310,25,39504,91,95,91
32,Dartmouth,Univ,1306,25,35804,86,100,95
33,Cornell,Univ,1280,30,37137,85,90,83
34,Columbia,Univ,1268,29,45879,78,93,90
35,U of Chicago,Univ,1300,45,38937,74,100,73
36,Brown,Univ,1281,24,24201,80,98,90
37,U Penn,Univ,1280,41,30882,87,99,86
38,Berkeley,Univ,1176,37,23665,95,93,68
39,Johns Hopkins,Univ,1290,48,45460,69,58,86
40,Rice,Univ,1327,24,26730,85,95,88
41,UCLA,Univ,1142,43,26859,96,100,61
42,U Va.,Univ,1218,37,19365,77,91,88
43,Georgetown,Univ,1278,24,23115,79,89,89
44,UNC,Univ,1109,32,19684,82,84,73
45,U Michican,Univ,1195,60,21853,71,93,77
46,Carnegie Mellon,Univ,1225,64,33607,52,84,77
47,Northwestern,Univ,1230,47,28851,77,79,82
48,Washington U (MO),Univ,1225,54,39883,71,98,76
49,U of Rochester,Univ,1155,56,38597,52,96,73

In [47]:
st.mode(data['SAT'])

ModeResult(mode=array([1300], dtype=int64), count=array([3]))

In [51]:
np.percentile(data['SAT'], 50)

1109.0

In [52]:
np.min(data['SAT'])

1109